.node circle {
  /*fill: #542988;*/
  /*stroke-width: 3px;*/
}

.node text {
  font: 12px sans-serif;
  text-shadow: 0 1px 0 #fff, 0 -1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff;
  /*fill: white;*/
}

.node:hover {
	cursor: pointer;
}

.link {
  fill: none;
  stroke: #ccc;
  /*stroke: #4CAF50;*/
  stroke-width: 1.5px;
}

